<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>RockeT|物超所值配送最快</title>
	<link rel="stylesheet" type="text/css" href="{{ static('css/reset.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ static('css/main.css') }}">
	<script type="text/javascript" src="{{ static('js/vue-2.6.12.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/axios-0.18.0.min.js') }}"></script>
</head>
<body>
	<div id="app" v-cloak>
	<div class="header_con">
		<div class="header">
            <div class="welcome fl">歡迎光臨RockeT</div>
            <div class="fr">
                <div v-if="username" class="login_btn fl">
                    <em>[[ username ]]</em>
                    <span>|</span>
                    <a href="{{ url('users:logout') }}" class="quit">登出</a>
                </div>
                <div v-else class="login_btn fl">
                    <a href="{{ url('users:login') }}">登入</a>
                    <span>|</span>
                    <a href="{{ url('users:register') }}">註冊</a>
                </div>
                <div class="user_link fl">
                    <span>|</span>
                    <a href="{{ url('users:info') }}">用戶中心</a>
                    <span>|</span>
                    <a href="{{ url('carts:info') }}">我的購物車</a>
                    <span>|</span>
                    <a href="{{ url('users:order' ,args=(1,)) }}">我的訂單</a>
                </div>
            </div>
        </div>
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="{{ static('') }}images/logo.png"></a>
		<div class="search_wrap fl">
            <form method="get" action="/search/" class="search_con">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
            <ul class="search_suggest fl">
                <li><a href="#">造型悠遊卡</a></li>
                <li><a href="#">懶人沙發</a></li>
                <li><a href="#">碎花洋裝</a></li>
                <li><a href="#">人氣月餅禮盒</a></li>
            </ul>
        </div>

		<div class="guest_cart fr">
            <a @click="get_carts" class="cart_name fl">我的購物車</a>
            <div class="goods_count fl" id="show_count">[[ cart_total_count ]]</div>
            <ul class="cart_goods_show">
                <li v-for="cart in carts">
                    <img :src="cart.default_image_url" alt="商品图片">
                    <h4>[[ cart.name ]]</h4>
                    <div>[[ cart.count ]]</div>
                </li>
            </ul>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar">
			<div class="sub_menu_con fl">
				<h1 class="fl">商品分類</h1>
				<ul class="sub_menu">
                    {% for group in categories.values() %}
                        <li>
                            <div class="level1">
                                {% for channel in group.channels %}
                                    <a href="{{ channel.url }}">{{ channel.name }}</a>
                                {% endfor %}
                            </div>
                            <div class="level2">
                                {% for cat2 in group.sub_cats %}
                                    <div class="list_group">
                                        <div class="group_name fl">{{ cat2.name }} &gt;</div>
                                        <div class="group_detail fl">
                                            {% for cat3 in cat2.sub_cats %}
                                                <a href="/api/list/{{ cat3.id }}/1/">{{ cat3.name }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </li>
                    {% endfor %}
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">現領購物金</a></li>
				<li class="interval">|</li>
				<li><a href="">免運省荷包</a></li>
				<li class="interval">|</li>
				<li><a href="">羅奇團購趣</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="javascript:;">{{ breadcrumb.cat1.name }}</a>
		<span>></span>
		<a href="javascript:;">{{ breadcrumb.cat2.name }}</a>
		<span>></span>
		<a href="javascript:;">{{ breadcrumb.cat3.name }}</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{{ sku.default_image_url }}"></div>
		<div class="goods_detail_list fr">
			<h3>{{ sku.name }}</h3>
			<p>{{ sku.caption }}</p>
			<div class="price_bar">
				<span class="show_pirce">$<em>{{ sku.price }}</em></span>
				<a href="javascript:;" class="goods_judge">{{ sku.comments }}則評論</a>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">數 量</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" v-model="sku_count" @keyup="edit_sku_count" @blur="check_sku_count" :value="sku_count">
					<a @click="on_addition" class="add fr">+</a>
					<a @click="on_minus" class="minus fr">-</a>
				</div>
			</div>
            {% for spec in specs %}
                <div class="type_select">
                    <label>{{ spec.name }}:</label>
                    {% for option in spec.spec_options %}
                        {% if option.sku_id == sku.id %}
                            <a href="javascript:;" class="select">{{ option.value }}</a>
                        {% elif option.sku_id %}
                            <a href="{{ url('goods:detail' ,args=(option.sku_id,)) }}">{{ option.value }}</a>
                        {% else %}
                            <a href="javascript:;">{{ option.value }}</a>
                        {% endif %}

                    {% endfor %}
                </div>
            {% endfor %}
			<div class="total">總 價&emsp;&emsp;<em>$[[ sku_amount ]]</em></div>
			<div class="operate_btn">
				<a @click="add_carts" class="add_cart" id="add_cart">加入購物車</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>暢銷商品</h3>
				<ul>
					<li v-for="sku in hot_skus">
						<a :href="sku.url"><img :src="sku.default_image_url"></a>
						<h4><a :href="sku.url">[[ sku.name ]]</a></h4>
						<div class="price">$[[ sku.price ]]</div>
                        <span>[[ sku.comments ]]則評論</span>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li @click="on_tab_content('detail')" :class="tab_content.detail?'active':''">商品詳情</li>
				<li @click="on_tab_content('pack')" :class="tab_content.pack?'active':''">規格與包裝</li>
				<li @click="on_tab_content('comment')" :class="tab_content.comment?'active':''">商品評價</li>
				<li @click="on_tab_content('service')" :class="tab_content.service?'active':''">售後服務</li>
			</ul>
			<div :class="tab_content.detail?'tab_content current':'tab_content'">
				<dl>
					<dt>商品詳情</dt>
					<dd>{{ sku.goods.desc_detail|safe }}</dd>
				</dl>
			</div>
			<div :class="tab_content.pack?'tab_content current':'tab_content'">
				<dl>
					<dt>規格與包裝</dt>
					<dd>{{ sku.goods.desc_pack|safe }}</dd>
				</dl>
			</div>
			<div :class="tab_content.comment?'tab_content current':'tab_content'">
				<ul class="judge_list_con">
					<li class="judge_list fl">
						<div class="user_info fl">
							<img src="{{ static('') }}images/cat.jpg">
							<b>r***01</b>
						</div>
						<div class="judge_info fl">
							<div class="stars_five"></div>
							<div class="judge_detail">這次一樣選購的是太空灰，這個顏色真的很耐看！</div>
						</div>
					</li>
				</ul>
			</div>
			<div :class="tab_content.service?'tab_content current':'tab_content'">
				<dl>
					<dt>售後服務</dt>
					<dd>{{ sku.goods.desc_service|safe }}</dd>
				</dl>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">客服中心</a>
			<span>|</span>
			<a href="#">關於羅奇</a>
			<span>|</span>
			<a href="#">人才招募</a>
			<span>|</span>
			<a href="#">物流合作</a>
		</div>
		<p>CopyRight © 2020 RockeT. All Rights Reserved</p>
		<p>電話：02-****6666    台北市*******66號</p>
	</div>
	</div>
	<script>
        let sku_price = "{{ sku.price }}";
        let category_id = {{ category_id }};
        let sku_id = "{{ sku.id }}";
    </script>
    <script type="text/javascript" src="{{ static('js/api.js') }}"></script>
	<script type="text/javascript" src="{{ static('js/common.js') }}"></script>
	<script type="text/javascript" src="{{ static('js/detail.js') }}"></script>
</body>
</html>