<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>RockeT|物超所值配送最快</title>
	<link rel="stylesheet" type="text/css" href="{{ static('css/reset.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ static('css/main.css') }}">
	<script type="text/javascript" src="{{ static('js/vue-2.6.12.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/axios-0.18.0.min.js') }}"></script>
</head>
<body>
	<div id="app" v-cloak>
	<div class="login_top clearfix">
		<a href="{{ url('contents:index') }}" class="login_logo"><img src="{{ static('images/logo.jpeg') }}"></a>
	</div>
	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">中秋瘋購物 · 天天0運費</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<a href="javascript:;" class="cur">登入</a>
				</div>
				<div class="form_con">
					<div class="form_input cur">
						<form method="post" class="login" @submit="on_submit" v-cloak>
                            {{ csrf_input }}
							<input type="text" name="username" v-model="username" @keyup="check_username" @blur="check_username" class="name_input" :placeholder="default_username">
                            <div v-show="error_username" class="user_error">[[ error_username_tip ]]</div>
                            <input type="password" name="password" v-model="password" @keyup="check_password" @blur="check_password" class="pass_input" :placeholder="default_password">
                            <div v-show="error_password" class="pwd_error">[[ error_password_tip ]]</div>
							<div class="more_input clearfix">
								<input type="checkbox" name="remembered" checked="checked">
								<label>記住登入</label>
							</div>
                            <div v-show="error_login" class="post_error">[[ error_login_tip ]]</div>

                            {% if errmsg %}
                                <span class="post_error">{{ errmsg }}</span>
                            {% endif %}

                            <input type="submit" @mouseenter="verify_user" value="登入" class="input_submit">
						</form>
					</div>
				</div>
				<div class="third_party">
                    <button href="#" class="google_login"></button>
                    <button href="#" @click="line_login" class="line_login"></button>
                    <button href="#" class="facebook_login"></button>
				</div>
                <div class="login_tip clearfix">
                    <a href="{{ url('users:register') }}">羅奇新朋友? 註冊</a>
                </div>
			</div>
		</div>
	</div>

	<div class="footer no-mp">
		<div class="foot_link">
			<a href="#">客服中心</a>
			<span>|</span>
			<a href="#">關於羅奇</a>
			<span>|</span>
			<a href="#">人才招募</a>
			<span>|</span>
			<a href="#">物流合作</a>
		</div>
		<p>CopyRight © 2020 RockeT. All Rights Reserved</p>
		<p>電話：02-****6666    台北市*******66號</p>
	</div>
	</div>
	<script type="text/javascript" src="{{ static('js/api.js') }}"></script>
	<script type="text/javascript" src="{{ static('js/common.js') }}"></script>
	<script type="text/javascript" src="{{ static('js/login.js') }}"></script>
</body>
</html>