<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>RockeT|物超所值配送最快</title>
	<link rel="stylesheet" type="text/css" href="{{ static('css/reset.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ static('css/main.css') }}">
	<script type="text/javascript" src="{{ static('js/vue-2.6.12.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/axios-0.18.0.min.js') }}"></script>
</head>
<body>
    <div id="app">
	<div class="register_con">
		<div class="l_con fl">
			<a href="index.html" class="reg_logo"><img src="{{ static('images/logo.png') }}"></a>
			<div class="reg_slogan">歡迎註冊</div>
			<div class="reg_banner"></div>
		</div>

		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>填寫基本資訊</h1>
				<a href="login.html">已有帳號? 請登錄></a>
			</div>
			<div class="reg_form clearfix">
				<form method="post" class="register_form" @submit="on_submit" v-cloak>
                {{ csrf_input }}
				<ul>
					<li>
						<input type="text" name="username" v-model="username" @keyup="check_username" @blur="check_username" :placeholder="default_username" id="user_name">
						<span v-show="error_username" class="error_tip">[[ error_username_tip ]]</span>
					</li>
					<li>
						<input type="password" name="password" v-model="password" @keyup="check_password" @blur="check_password" :placeholder="default_password" id="pwd">
						<span v-show="error_password" class="error_tip">請輸入8位到12位的密碼</span>
					</li>
					<li>
						<input type="password" name="password2" v-model="password2" @keyup="check_password2" @blur="check_password2" :placeholder="default_password2" id="cpwd">
						<span v-show="error_password2" class="error_tip">請檢查與原先輸入的密碼是否相符</span>
					</li>
					<li>
						<input type="text" name="mobile" v-model="mobile" @keyup="check_mobile" @blur="check_mobile" :placeholder="default_mobile" id="phone">
						<span v-show="error_mobile" class="error_tip">[[ error_mobile_tip ]]</span>
					</li>
					<li>
                        <input type="text" name="piccode" v-model="piccode" @keyup="check_piccode" @blur="check_piccode" :placeholder="default_piccode" id="pic_code" class="msg_input">
                        <img :src="image_code_url" @click="generate_image_code" alt="圖形驗證碼" class="pic_code">
                        <span v-show="error_piccode" class="error_tip">[[ error_piccode_tip ]]</span>
                    </li>
					<li>
						<input type="text" name="sms_code" v-model="sms_code" @keyup="check_sms_code" @blur="check_sms_code" :placeholder="default_sms_code" id="msg_code" class="msg_input">
						<a @click="send_sms_code" class="get_msg_code">[[ sms_code_tip ]]</a>
						<span v-show="error_sms_code" class="error_tip">[[ error_sms_code_tip ]]</span>
					</li>
					<li class="agreement">
						<input type="checkbox" name="allow" v-model="allow" @change="check_allow" id="allow_agreement" checked="checked">
						<label>同意「RockeT使用合約」</label>
						<span v-show="error_allow" class="error_tip">請勾選同意RockeT使用合約</span>

                        {% if register_errmsg %}
                            <span class="error_tip">{{ register_errmsg }}</span>
                        {% endif %}
                    </li>
					<li class="reg_sub">
						<input type="submit" value="立即註冊">
					</li>
				</ul>
				</form>
			</div>

		</div>

	</div>
    </div>
	<div class="footer no-mp">
		<div class="foot_link">
			<a href="#">客服中心</a>
			<span>|</span>
			<a href="#">關於羅奇</a>
			<span>|</span>
			<a href="#">人才招募</a>
			<span>|</span>
			<a href="#">物流合作</a>
		</div>
		<p>CopyRight © 2020 RockeT. All Rights Reserved</p>
		<p>電話：02-****6666    台北市*******66號</p>
	</div>
    <script type="text/javascript" src="{{ static('js/api.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/common.js') }}"></script>
	<script type="text/javascript" src="{{ static('js/register.js') }}"></script>
</body>
</html>