<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>RockeT|物超所值配送最快</title>
    <link rel="stylesheet" type="text/css" href="{{ static('css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('css/main.css') }}">
    <script type="text/javascript" src="{{ static('js/vue-2.6.12.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/axios-0.18.0.min.js') }}"></script>
</head>
<div id="app">
    <div class="header_con">
        <div class="header" v-cloak>
            <div class="welcome fl">歡迎光臨RockeT</div>
            <div class="fr">
                <div v-if="username" class="login_btn fl">
                    <em>[[ username ]]</em>
                    <span>|</span>
                    <a href="{{ url('users:logout') }}">登出</a>
                </div>
                <div v-else class="login_btn fl">
                    <a href="{{ url('users:login') }}">登入</a>
                    <span>|</span>
                    <a href="{{ url('users:register') }}">註冊</a>
                </div>
                <div class="user_link fl">
                    <span>|</span>
                    <a href="{{ url('users:info') }}">用戶中心</a>
                    <span>|</span>
                    <a href="{{ url('carts:info') }}">我的購物車</a>
                    <span>|</span>
                    <a href="#">我的訂單</a>
                </div>
            </div>
        </div>
    </div>

	<div class="search_bar clearfix">
        <a href="index.html" class="logo fl"><img src="{{ static('images/logo.png') }}"></a>
        <div class="search_wrap fl">
            <form method="get" action="/search.html" class="search_con">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
            <ul class="search_suggest fl">
                <li><a href="#">造型悠遊卡</a></li>
                <li><a href="#">懶人沙發</a></li>
                <li><a href="#">碎花洋裝</a></li>
                <li><a href="#">人氣月餅禮盒</a></li>
            </ul>
        </div>

        <div class="guest_cart fr">
            <a href="#" class="cart_name fl">我的購物車</a>
            <div class="goods_count fl" id="show_count">15</div>

            <ul class="cart_goods_show">
                <li>
                    <img src="{{ static('images/goods/goods001.jpg') }}" alt="商品图片">
                    <h4>商品名称手机</h4>
                    <div>4</div>
                </li>
                <li>
                    <img :src="photo_url" alt="商品图片">
                    <h4>商品名称手机</h4>
                    <div>5</div>
                </li>
                <li>
                    <img src="{{ static('images/goods/goods003.jpg') }}" alt="商品图片">
                    <h4>商品名称手机</h4>
                    <div>6</div>
                </li>
                <li>
                    <img src="{{ static('images/goods/goods003.jpg') }}" alt="商品图片">
                    <h4>商品名称手机</h4>
                    <div>6</div>
                </li>
            </ul>
        </div>
    </div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{{ url('users:info') }}">· 個人資訊</a></li>
				<li><a href="user_center_order.html">· 我的訂單</a></li>
				<li><a class="active">· 收貨地址</a></li>
				<li><a href="user_center_pass.html">· 修改密碼</a></li>
			</ul>
		</div>
		<div class="right_content clearfix" v-cloak>
			<div class="site_top_con">
				<a @click="show_add_site">新增收貨地址</a>
				<span>您已創建<b>[[ addresses.length ]]</b>個收貨地址，最多可創建<b>[[ address_limit ]]</b>個</span>
			</div>
			<div class="site_con"v-for="(address ,index ) in addresses" v-cloak>
				<div class="site_title">
                    <div v-if="edit_title_index===index">
                        <input type="text" v-model="input_title" name="">
                        <input type="button" @click="save_title" name="" value="保 存">
                        <input type="reset" @click="cancel_title" name="" value="取 消">
                    </div>
					<h3>[[ address.title ]]</h3>
					<a @click="show_edit_title(index)" class="edit_icon"></a>
                    <em v-if="address.id===default_address_id">默認地址</em>
					<span @click="show_delete_site(index)" class="del_site">×</span>
				</div>
				<ul class="site_list">
					<li><span>收貨人</span><b>&emsp;[[ address.receiver ]]</b></li>
					<li><span>手機號碼</span><b>&emsp;[[ address.mobile ]]</b></li>
					<li><span>Email</span><b>&emsp;[[ address.email ]]</b></li>
					<li><span>所在地區</span><b>&emsp;[[ address.area ]][[ address.city ]][[ address.district ]]</b></li>
					<li><span>收貨地址</span><b>&emsp;[[ address.place ]]</b></li>
				</ul>
				<div class="down_btn">
					<a @click="set_default(index)" v-if="address.id!=default_address_id" class="set_default">設為默認</a>
					<a @click="show_edit_site(index)" class="edit_icon">编辑</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="foot_link">
			<a href="#">客服中心</a>
			<span>|</span>
			<a href="#">關於羅奇</a>
			<span>|</span>
			<a href="#">人才招募</a>
			<span>|</span>
			<a href="#">物流合作</a>
		</div>
		<p>CopyRight © 2020 RockeT. All Rights Reserved</p>
		<p>電話：02-****6666    台北市*******66號</p>
	</div>

	<div v-show="is_show_edit" class="pop_con" v-cloak>
		<div class="site_con site_pop">
				<div class="site_pop_title">
					<h3>新增收貨地址</h3>
				</div>
				<form>
					<div class="form_group">
						<input type="text" v-model="form_address.receiver" @blur="check_receiver" @keyup="check_receiver" name="receiver" :placeholder="default_receiver">
                        <span v-show="error_receiver">請輸入收貨人</span>
					</div>
                    <div class="form_group">
						<input type="text" v-model="form_address.mobile" @blur="check_mobile" @keyup="check_mobile" name="mobile" :placeholder="default_mobile">
                        <span v-show="error_mobile">請輸入手機號碼</span>
					</div>
                    <div class="form_group">
						<input type="text" v-model="form_address.email" @blur="check_email" @keyup="check_email" name="email" :placeholder="default_email">
                        <span v-show="error_email">Email格式不正確</span>
					</div>
					<div class="form_group">
						<select v-model="form_address.area_id">
                            <option value="" disabled selected hidden>區域</option>
							<option v-for="area in areaes" :value="area.id">[[ area.name ]]</option>
						</select>
						<select v-model="form_address.city_id">
                            <option value="" disabled selected hidden>縣市</option>
							<option v-for="city in cities" :value="city.id">[[ city.name ]]</option>
						</select>
						<select v-model="form_address.district_id">
                            <option value="" disabled selected hidden>區鎮</option>
							<option v-for="district in districts" :value="district.id">[[ district.name ]]</option>
						</select>
					</div>
					<div class="form_group">
						<input type="text" v-model="form_address.place" @blur="check_place" @keyup="check_place" name="place" :placeholder="default_place">
                        <span v-show="error_place">請輸入地址</span>
					</div>
					<input type="button" @click="save_address" name="" :value="add_title" class="info_submit">
					<input type="reset" @click="is_show_edit=false" name="" value="取 消" class="info_submit info_reset">
				</form>
		</div>
		<div class="mask"></div>
	</div>

    <div class="pop_con" v-show="is_show_delete" v-cloak>
		<div class="confirm_pop">
                <div class="site_pop_title">
					<h3>確認刪除當前地址?</h3>
				</div>
				<input type="button" @click="delete_address" value="確 定" class="pop_submit" />
				<input type="button" @click="is_show_delete=false" value="取 消" class="pop_submit info_reset"  />
		</div>
		<div class="mask"></div>
	</div>
	</div>
    <script type="text/javascript">
        let addresses = {{ addresses | safe }} ;
        let default_address_id = {{ default_address_id }} ;
    </script>
	<script type="text/javascript" src="{{ static('js/api.js') }}"></script>
	<script type="text/javascript" src="{{ static('js/common.js') }}"></script>
	<script type="text/javascript" src="{{ static('js/user_center_site.js') }}"></script>
</body>
</html>